# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
*.off
*.old
.DS_Store
*.xcuserstate
build/**/*
.rbenv-version

# XCode user local
*.xcodeproj/xcuserdata/**/*
*.xcodeproj/project.xcworkspace/**/*
*.xcodeproj/project.xcworkspace/*
*xcuserdata*
